<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon</title>
    <link rel="stylesheet" href="Amazon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    
</head>
<body >
    <header>
    <div class="nav">
        <div class="logo">
            <div class="logo1"></div>
        </div>
        <div class="ha1">
            <p class="add1">Deliver to</p>
            <div class="locicon">
                <i class="fa-solid fa-location-dot"></i>
                <p class="add2">India</p>
            </div>
        </div>
        <div class="searchbar">
            <select class="salect">
                <option value="Yes">All</option>
                <option value="Yes">all</option>
                <option value="Yes">  </option>
                <option value="Yes"> </option>
            </select>
            <input class="inputtext" type="text" placeholder="Search Amazon">
            <div class="meg"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
        <div class="ha1">
            <p class="add3">Hello, Sign in </p>
            <p class="add4">Account & Lists</p>
        </div>
        <div class="ha1">
            <p class="add3">Returns </p>
            <p class="add4">& Orders</p>
        </div>
        <div><i class="fa-solid fa-cart-shopping"></i></div>
        <div class="add4">Cart</div>
        
    </div>
    </header>
    <div class="navbar">
        <div class="nav1" ><i class="fa-solid fa-bars"></i>  All</div>
        <div class="navs">Today's Deals Customer Service Gift Cards Sell</div>
        <div class="navend">Shop deals in Electronics</div>

    </div>
    <div >
        <div class="hero">
        <P class="heromassage">You are on amazon.com . You can also shop on Amazon India For millions of products with fast delivery .<a href="Amazon.html">Click here to go to amazon.in</a></P>
        </div>
     </div>
     <div class="shop">
        <div class="box">
            <div class="img1">  <h2>Clothes</h2> <img class="img1"  src="box1_image.jpg"> </div>
        </div>
        <div class="box">
            <div class="img1">  <h2>Health& Personal Care</h2> <img class="img1" src="box2_image.jpg"> </div>
        </div>
        <div class="box">
            <div class="img1">  <h2>Furniture</h2> <img class="img1" src="box3_image.jpg"> </div>
        </div>
        <div class="box">
            <div class="img1">  <h2>Electronics</h2> <img class="img1" src="box4_image.jpg"> </div>
        </div>
        <div class="box">
            <div class="img1">  <h2>Beauty</h2> <img class="img1" src="box5_image.jpg"> </div>
        </div>
        <div class="box">
            <div class="img1">  <h2>Pet Products</h2> <img class="img1" src="box6_image.jpg"> </div>
        </div>
        <div class="box">
            <div class="img1">  <h2>Art&Craft</h2> <img class="img1" src="box7_image.jpg"> </div>
        </div>
        <div class="box">
            <div class="img1">  <h2>Fashion</h2> <img class="img1" src="box8_image.jpg"> </div>
        </div>
        

     </div>
     <div class="foot">Back To Top</div>
     <div class="footer">
        <div>
            <ul><b>Get To Know</b></ul>
            <ul>Careers</ul>
            <ul>Blog </ul>
            <ul>About Amazon</ul>
            <ul>Inverster Relations</ul>
            <ul>Amazon Devices</ul>
            <ul>Amazon Science</ul>
        </div>
        <div>
            <ul><b>Make Money With us </b></ul>
            <ul>Sell Products On amazon</ul>
            <ul>Sell on amazon business</ul>
            <ul>Sell app On Amazon</ul>
            <ul>Become an affliate</ul>
            <ul>Advertise your Products</ul>
            <ul>Self Publish With Us</ul>
        </div>
        <div>
            <ul><b>Amazon Payments Products</b></ul>
            <ul>Amazon Business Card</ul>
            <ul>Shop and points</ul>
            <ul>Reload your Balance</ul>
            <ul>Amazon Currency Converter</ul>
            
        </div>
        <div>
            <ul><b>Let Us Help You</b></ul>
            <ul>Amazon and covid-19</ul>
            <ul>your Account </ul>
            <ul>Your Orders</ul>
            <ul>Shopping Rates And Polices</ul>
            <ul>Returns & Replacements</ul>
            <ul>Manage your contant and devices</ul>
        </div>
        
        

     </div>
     
     <footer> <div class="logo2">
        <div class="logo3"><img src="amazon_logo.png" width="100px" height="50px"></div>
    </div>
</footer>

    
    
</body>
</html>