.header{
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
  
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    text-align: center;             
    /* text-transform: uppercase; */
    width: 100%;
}
.fullname{
    font-size: 80px;
    color: rgb(79, 193, 231);
    text-shadow: 1px 1px 8px black;

}
.description{
    font-weight: lighter;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px gray;

}
.btnHire{
    border: none;
    width: 150px;
    height: 35px;
    border-radius: 8px;
    cursor: pointer;
}
.btnHire:hover{
    background-color: aqua;
    transition: calc(1.5s);
}
.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
}
.image img{
    /* width: 400px;
    height: 400px; */
    border-radius: 50%;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.2); */
    transition: transform 0.2s;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}