<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ludo First</title>
    <link rel="stylesheet" href="ludo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body >
    <div >
        <div class="main">
            <div class="abox" >
                <div style="background-image: url(prince.jpg);" class="aboxa"  >
                    <div class="cred"></div>
                    <div class="cred2"></div>
                    <div class="cred3"></div>
                    <div class="cred4"></div>
                </div>
            </div>
            <div class="bbox">
                <div class="bboxb">
                    <div class="cblue"></div>
                    <div class="cblue2"></div>
                    <div class="cblue3"></div>
                    <div class="cblue4"></div>
                </div>
            </div>
            <div class="cbox">
                <div class="cboxc">
                    <div class="cgreen"></div>
                    <div class="cgreen2"></div>
                    <div class="cgreen3"></div>
                    <div class="cgreen4"></div>
                </div>
            </div>
            <div class="dbox">
                <div class="dboxd">
                    <div class="cyellow"></div>
                    <div class="cyellow2"></div>
                    <div class="cyellow3"></div>
                    <div class="cyellow4"></div>
                </div>
            </div >
            <div class="top1">


            <div class="la"><i class="fa-solid fa-arrow-right"></i></i></div>
            <div class="la2"></i></div>
            <div class="la3"></div>
            <div class="la4"></div>
            <div class="la5"></div>
            <div class="la6"></div>
        
            <div class="lb"></div>
            <div class="lb2"></div>
            <div class="lb3"><i class ="fa-solid fa-star" ></i></div>
            <div class="lb4"></div>
            <div class="lb5"></div>
            <div class="lb6"></div>

            <div class="lc"></div>
            <div class="lc2"></div>
            <div class="lc3"></div>
            <div class="lc4"></div>
            <div class="lc5"></div>
            <div class="lc6"></div>
        </div>

        <div class="bottom1">
                <div class="ld"><i class="fa-solid fa-arrow-right"></i></div>
                <div class="ld2"></div>
                <div class="ld3"></div>
                <div class="ld4"></div>
                <div class="ld5"></div>
                <div class="ld6"></div>
    
                <div class="le"></div>
                <div class="le2"></div>
                <div class="le3"></div>
                <div class="le4"></div>
                <div class="le5"></div>
                <div class="le6"></div>
    
                <div class="lf"></div>
                <div class="lf2"></div>
                <div class="lf3"><i class ="fa-solid fa-star" ></i></div>
                <div class="lf4"></div>
                <div class="lf5"></div>
                <div class="lf6"></div>
            </div>   

            <div>

                <div class="lg"></i></div>
                <div class="lg2"></div>
                <div class="lg3"></div>
                <div class="lg4"></div>
                <div class="lg5"></div>
                <div class="lg6"></div>

                <div class="lh"><i class="fa-solid fa-arrow-right"></i></div>
                <div class="lh2"></div>
                <div class="lh3"></div>
                <div class="lh4"></div>
                <div class="lh5"></div>
                <div class="lh6"></div>
    
                <div class="li"></div>
                <div class="li2"></div>
                <div class="li3"><i class ="fa-solid fa-star" ></i></div>
                <div class="li4"></div>
                <div class="li5"></div>
                <div class="li6"></div>

            </div>

            <div>

                <div class="lj"></div>
                <div class="lj2"></div>
                <div class="lj3"><i class ="fa-solid fa-star" ></i></div>
                <div class="lj4"></div>
                <div class="lj5"></div>
                <div class="lj6"></div>

                <div class="lk"><i class="fa-solid fa-arrow-right"></i></div>
                <div class="lk2"></div>
                <div class="lk3"></div>
                <div class="lk4"></div>
                <div class="lk5"></div>
                <div class="lk6"></div>
    
                <div class="ll"></div>
                <div class="ll2"></div>
                <div class="ll3"></div>
                <div class="ll4"></div>
                <div class="ll5"></div>
                <div class="ll6"></div>

            </div>
            <div align="center"> <img style="position: relative; width: 185px;" src="gta.jpg"></div>


        
            
            
        </div>

       
    </div>
    
    
</body>
</html>